* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header {
    margin: 20px;
    padding: 20px;
}

.game-score {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
    border: 2px solid lightgray;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.game-score_player {
    display: flex;
    align-items: center;
}

.game-score_player h2,
.game-score_player p {
    margin: 0 5px;
    font-family: "Montserrat", sans-serif;
}

.game-score_display_player1,
.game-score_display_player2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 1.5em sans-serif;
    padding: 8px;
    border: 1px solid black;
    border-radius: 5px;
    background: rgb(214, 214, 214);
    color: white;
    font-weight: bolder;
}

.board {
    width: 606px;
    background: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.51);
}

.box {
    border: 2px solid #bbb;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: #050505;
}

.box:hover {
    background: #e6e6e6;
}

@keyframes shake-horizontal {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.fa-circle-o,
.fa-times {
    animation: shake-horizontal 50ms;
}

@keyframes shake-skew-x {
    0% {
        transform: skewX(-20deg);
    }
    5% {
        transform: skewX(20deg);
    }
    10% {
        transform: skewX(-20deg);
    }
    15% {
        transform: skewX(20deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.fa-circle-o:active,
.fa-times:active {
    animation: shake-skew-x 80ms;
    background-color: rgb(255, 4, 4);
}

@keyframes change-board-background-color {
    from {
        background-color: #f0f0f0;
    }
    to {
        background-color: rgb(179, 174, 174);
    }
}

.game-finished {
    animation: change-board-background-color 800ms linear infinite;
}

@keyframes change-winning-field-background-color {
    from {
        background-color: rgb(23, 180, 23);
    }
    to {
        background-color: rgb(86, 238, 86);
    }
}

.winning-field {
    animation: change-winning-field-background-color 800ms ease-out infinite;
}

.play-again {
    display: flex;
    height: 50px;
    width: 150px;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

.draw-game {
    background-color: rgb(209, 209, 209);
}
