* {
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board {
    width: 606px;
    background: #f0f0f0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-gap: 3px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: 0px 0px 15px -2px rgba(0, 0, 0, 0.51);
}

.box {
    border: 2px solid #bbb;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 6rem;
    color: #050505;
}

.box:hover {
    background: #e6e6e6;
}

@keyframes shake-horizontal {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(5px);
    }
    50% {
        transform: translateX(-5px);
    }
    75% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.fa-circle-o,
.fa-times {
    animation: shake-horizontal 50ms;
}

@keyframes shake-skew-x {
    0% {
        transform: skewX(-20deg);
    }
    5% {
        transform: skewX(20deg);
    }
    10% {
        transform: skewX(-20deg);
    }
    15% {
        transform: skewX(20deg);
    }
    20% {
        transform: skewX(0deg);
    }
    100% {
        transform: skewX(0deg);
    }
}

.fa-circle-o:active,
.fa-times:active {
    animation: shake-skew-x 80ms;
    background-color: rgb(255, 4, 4);
}

@keyframes change-background-color {
    from {
        background-color: #f0f0f0;
    }
    to {
        background-color: rgb(160, 160, 160);
    }
}

.winning-field {
    background-color: rgb(23, 180, 23);
}

.game-finished {
    animation: change-background-color 800ms linear infinite;
}

.play-again {
    display: flex;
    height: 50px;
    width: 100px;
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

.hidden {
    display: none;
}
